<html>
	<head>
		<title>Question</title>
		<script src="https://code.angularjs.org/1.3.14/angular.js"></script>
		<script src="script.js"></script>
	</head>
	<body ng-app="searchApp">
		<div ng-controller="searchController">
			Search : <input type="text" ng-model="searchUser"><br/><br/>
			<input type="button" value="Search" ng-click="searchUsers()"/>
			<div ng-show="userFound">
				Avatar_url : <img ng-src="{{userDetails.avatar_url}}" alt="{{userDetails.avatar_url}}" height="100" width="100"/> <br/> 
				Id : {{userDetails.id}} <br/>
				Is Site Admin? : {{userDetails.site_admin}} <br/>
				Created_at : {{userDetails.created_at}} <br/>
				Repos-url : <input type="button" value="{{userDetails.repos_url}}" ng-click="loadRepos()"> 
			</div>
			<div>
				<span ng-show="error_message" style="color:red">Please enter other user name</span>
			</div>
		</div>
	</body>
</html>